name: Containerize

on:
    push:
        branches: ["containerize_app"]

permissions:
    contents: read
    packages: write


jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Get Latest Checkout
              uses: actions/checkout@v6.0.1
            
            - name: Log in to GHCR
              run: |
                echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin
            
            - name: Compute image name (lowercase)
              id: vars
              run: |
                IMAGE="ghcr.io/${GITHUB_REPOSITORY,,}:latest"
                echo "image=$IMAGE" >> "$GITHUB_OUTPUT"

            - name: Build
              run: |
                docker build -t "${{ steps.vars.outputs.image }}" .

            - name: Push
              run: |
                docker push "${{ steps.vars.outputs.image }}"