name: DeployAndTest

on: 
    push:
        branches: ["master"]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Get Latest Checkout
              uses: actions/checkout@latest

            - name: Setup python
              uses: actions/setup-python@latest
              with:
                python-version: "3.10"
                cache: "pip"

            - name: Install Dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
                pip install pytest

            - name: Train Model
              run: |
                python ml.prediction_model.py
            - name: Run Tests
              run: |
                pytest -q